# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\StuProject\IDEA\WorkSpace-SpringBoot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
